[submodule "third-party/moonlight"]
	path = third-party/moonlight
	url = https://github.com/moonlight-stream/moonlight-qt
[submodule "third-party/signaling"]
	path = third-party/signaling
	url = https://github.com/OnePlay-Internet/signaling-module
